extends ./_layout/_page.pug

block vars
  -
    var page = data.pages.index;

block content
  .l-contents.js-contents#content
    .p-introduction
      .p-introduction__wrap
        .p-introduction__links.js-transition-intro
          .p-introduction__link.js-transition-intro
            |*
          .p-introduction__link.js-transition-intro
            |Oct.
          .p-introduction__link.js-transition-intro
            |10th
          .p-introduction__link.js-transition-intro
            |–
          .p-introduction__link.js-transition-intro
            |16th
          .p-introduction__link.js-transition-intro
            |*
        .p-introduction__row.js-transition-intro
          |featuring events by
        .p-introduction__row.js-transition-intro
          a(href="https://www.notboring.co/", target="_blank")
            img(src='./img/logos/notboring.png')
          a(href="https://www.launchhouse.com/", target="_blank")
            img(src='./img/logos/launchhouse.png')
          a(href="https://www.partyround.com/", target="_blank")
            img(src='./img/logos/partyround.png')
          a(href="https://simulate.com/", target="_blank")
            img(src='./img/logos/simulate.png')
          a(href="https://workweek.com/", target="_blank")
            img(src='./img/logos/workweek.png')
          a(href="https://company.co/", target="_blank")
            img(src='./img/logos/companyco.png')
          a(href="https://www.prayingforexits.com/", target="_blank")
            img(src='./img/logos/praying.png')
          //- a(href="https://runalloy.com/", target="_blank")
          //-   img(src='./img/logos/alloy.png')

        .p-introduction__row.js-transition-intro
          a(href="https://stonks.com/", target="_blank")
            img(src='./img/logos/stonks.png')
          a(href="https://www.magna.so/", target="_blank")
            img(src='./img/logos/magna.png')
          a(href="https://www.beondeck.com/", target="_blank")
            img(src='./img/logos/ondeck.png')
          a(href="https://spacecadet.ventures/", target="_blank")
            img(src='./img/logos/spacecadet.png')
          a(href="https://contrary.com/", target="_blank")
            img(src='./img/logos/contrary.png', style='height:36px;')
          a(href="https://www.hustlefund.vc/", target="_blank")
            img(src='./img/logos/hustle.png', style='height:36px;')
          |+More

        .p-introduction__follow.js-transition-intro
          .p-introduction__follow-in.p-introduction__follow-in--1
          .p-introduction__follow-in.p-introduction__follow-in--2
          .p-introduction__follow-in.p-introduction__follow-in--3

        .p-introduction__row.js-transition-intro#registerScroll
          |
          +textLink("#register", "Register")

      .p-infinite-wall.js-transition-intro
        - var array = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
        each arr in array
          .p-infinite-wall__item
            |NEW YORK TECH WEEK
          .p-infinite-wall__item
            |//////////
          .p-infinite-wall__item
            |
            +textLink("https://twitter.com/NYCTechWeek", "FOLLOW ALONG", "_blank")
            a(href="https://twitter.com/NYCTechWeek", target="_blank")#twitter
              +iconTwitter(14)
          .p-infinite-wall__item
            |//////////

  .p-dummy-scroll.js-dummy-scroll

  .l-contents.js-contents
    .p-host-event.js-contents#register
      .p-host-event__row
        |REGISTER FOR NYC TECH WEEK
      .r-host-apply
        .r-introduction__input
          |Full Name
          input(placeholder="Your name" type='text' name='name')#name
        .r-introduction__input
          |Social
          input(placeholder="Your Twitter handle or LinkedIn" type='text' name='social')#social

      .r-host-apply
        .r-introduction__input
          |Email Address
          input(placeholder="Your email" type='email' name='email')#email
        .r-introduction__input
          |Company
          input(placeholder="Your company" type='text' name='company')#company

      .r-host-apply
        .r-introduction__input
          |Title
          input(placeholder="Your title" type='text' name='title')#title
        .r-introduction__input
          |Attendance
          select(name='type')#type
            option(value='', selected='selected') -- Select attendee type --
            option(value="Guest") I'd like to attend events
            option(value="Host") I'd like to host an event
      
      .p-additional-fields#eventDetails
        .r-host-event__row
          |TECH WEEK EVENT DETAILS
        .p-host-event__row__space
          |
          +textLinkOpen("https://www.notion.so/partyround/Hosting-an-NYC-Tech-Week-Event-53822a046f06463db44545e5eb2b5dc8", "- Guide to Hosting an Event -", "_blank")
        .r-host-apply
          .r-introduction__input
            |Event Title
            input(placeholder="Event title" type='text' name='event-title')#event-title
          .r-introduction__input
            |Event Date & Time
            input(placeholder="Event date & time" type='datetime-local' name='event-date')#event-date

        .r-host-apply
          .r-introduction__input
            |Event Location
            input(placeholder="Event location" type='text' name='event-location')#event-location
          .r-introduction__input
            |Event Capacity
            select(name='capacity')#capacity
              option(value='', selected='selected') -- Select capacity level --
              option(value="Small") Small - 10 to 25
              option(value="Medium") Medium - 25 to 50
              option(value="Large") Large - 50+
        
        .r-host-apply
          .r-introduction__input
            |Registration or Promotional Link (optional)
            input(placeholder="Event link" type='url' name='event-link')#event-link
          
        .r-host-apply
          .r-introduction__textarea
            |Event Description
            textarea(placeholder="Event description" type='text' name='event-description')#event-description

        .p-host-apply
          button(type='button')#registerEvent
            |Register Event

      .p-success#eventSuccess
        |Successful event registration, see you there soon

      .p-host-apply
        button(type='button')#submit
          |I'm Interested

      .p-success#success
        |Successful registration, now follow along on 
        +textLink("https://twitter.com/NYCTechWeek", " Twitter", "_blank")

      .p-infinite-wall-bottom.js-transition-intro
          - var array = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
          each arr in array
            .p-infinite-wall__item
              |
              +textLink("https://twitter.com/NYCTechWeek", "FOLLOW ALONG", "_blank")
              a(href="https://twitter.com/NYCTechWeek", target="_blank")#twitter
                +iconTwitter(14)
            .p-infinite-wall__item
              |//////////
            .p-infinite-wall__item
              |NEW YORK TECH WEEK
            .p-infinite-wall__item
              |//////////

  canvas(id="canvas-webgl", class="p-canvas-webgl")
