extends ./_layout/_page.pug

block vars
  -
    var page = data.pages.index;

block content
  .l-contents.js-contents#content
    .p-introduction
      .p-introduction__wrap
        .p-introduction__links.js-transition-intro
          .p-introduction__link.js-transition-intro
            |*
          .p-introduction__link.js-transition-intro
            |Oct.
          .p-introduction__link.js-transition-intro
            |10th
          .p-introduction__link.js-transition-intro
            |–
          .p-introduction__link.js-transition-intro
            |16th
          .p-introduction__link.js-transition-intro
            |*
        .p-introduction__row.js-transition-intro
          |featuring events by
        .p-introduction__row.js-transition-intro
          a(href="https://www.notboring.co/", target="_blank")
            img(src='./img/logos/notboring.png')
          a(href="https://www.launchhouse.com/", target="_blank")
            img(src='./img/logos/launchhouse.png')
          a(href="https://www.partyround.com/", target="_blank")
            img(src='./img/logos/partyround.png')
          a(href="https://simulate.com/", target="_blank")
            img(src='./img/logos/simulate.png')
          a(href="https://company.co/", target="_blank")
            img(src='./img/logos/companyco.png')

        .p-introduction__row.js-transition-intro
          a(href="https://workweek.com/", target="_blank")
            img(src='./img/logos/workweek.png')
          a(href="https://spacecadet.ventures/", target="_blank")
            img(src='./img/logos/spacecadet.png')
          a(href="https://www.beondeck.com/", target="_blank")
            img(src='./img/logos/ondeck.png')
          |+More
          //- a(href="https://contrary.com/", target="_blank")
          //-   img(src='./img/logos/contrary.png', style='height:36px;')

        .p-introduction__follow.js-transition-intro
          .p-introduction__follow-in.p-introduction__follow-in--1
          .p-introduction__follow-in.p-introduction__follow-in--2
          .p-introduction__follow-in.p-introduction__follow-in--3

        .p-introduction__row.js-transition-intro#registerScroll
          |
          +textLink("#register", "Register")

      .p-infinite-wall.js-transition-intro
        - var array = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
        each arr in array
          .p-infinite-wall__item
            |NEW YORK TECH WEEK
          .p-infinite-wall__item
            |//////////
          .p-infinite-wall__item
            |
            +textLink("https://twitter.com/NYCTechWeek", "FOLLOW ALONG", "_blank")
            a(href="https://twitter.com/NYCTechWeek", target="_blank")#twitter
              +iconTwitter(14)
          .p-infinite-wall__item
            |//////////

  .p-dummy-scroll.js-dummy-scroll

  .l-contents.js-contents
    .p-host-event.js-contents#register
      .p-host-event__row
        |REGISTER FOR NYC TECH WEEK
      .p-host-apply
        .p-introduction__input
          input(placeholder="Your name" type='text' name='name')#name
        .p-introduction__input
          input(placeholder="Your email" type='email' name='email')#email
        .p-introduction__input
          input(placeholder="Your company" type='text' name='company')#company

      .p-host-apply
        .p-introduction__input
          input(placeholder="Your title" type='text' name='title')#title
        .p-introduction__input
          select(name='type')#type
            option(value='', selected='selected') -- Select attendee type --
            option(value="Guest") I'd like to attend events
            option(value="Host") I'd like to host an event

      .p-host-apply
        button(type='button')#submit
          |Register Interest

      .p-success#success
        |Successful registration, now follow along on 
        +textLink("https://twitter.com/NYCTechWeek", " Twitter", "_blank")

      .p-infinite-wall-bottom.js-transition-intro
          - var array = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
          each arr in array
            .p-infinite-wall__item
              |
              +textLink("https://twitter.com/NYCTechWeek", "FOLLOW ALONG", "_blank")
              a(href="https://twitter.com/NYCTechWeek", target="_blank")#twitter
                +iconTwitter(14)
            .p-infinite-wall__item
              |//////////
            .p-infinite-wall__item
              |NEW YORK TECH WEEK
            .p-infinite-wall__item
              |//////////

  canvas(id="canvas-webgl", class="p-canvas-webgl")
