extends ./_layout/_page.pug

block vars
  -
    var page = data.pages.index;

block content
  .l-contents.js-contents
    .p-introduction
      .p-introduction__wrap
        .p-introduction__links.js-transition-intro
          .p-introduction__link.js-transition-intro
            |*
          .p-introduction__link.js-transition-intro
            |Oct.
          .p-introduction__link.js-transition-intro
            |10th
          .p-introduction__link.js-transition-intro
            |–
          .p-introduction__link.js-transition-intro
            |16th
          .p-introduction__link.js-transition-intro
            |*
        .p-introduction__row.js-transition-intro
          |featuring events by
        .p-introduction__row.js-transition-intro
          a(href="https://company.co/", target="_blank")
            img(src='./img/logos/companyco.png', style='height:36px; margin-right: 8px;')
          |&nbsp;X&nbsp;
          a(href="https://www.partyround.com/", target="_blank")
            img(src='./img/logos/partyround.png', style='height:36px;')
          //- +textLink("https://twitter.com/NYCTechWeek", "PARTY ROUND", "_blank")
          //- |&nbsp;&&nbsp;
          //- +textLink("https://twitter.com/NYCTechWeek", "A16Z", "_blank")
        .p-introduction__follow.js-transition-intro
          .p-introduction__follow-in.p-introduction__follow-in--1
          .p-introduction__follow-in.p-introduction__follow-in--2
          .p-introduction__follow-in.p-introduction__follow-in--3

      .p-infinite-wall.js-transition-intro
        - var array = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
        each arr in array
          .p-infinite-wall__item
            |NYC UNDERGROUND
          .p-infinite-wall__item
            |//////////
          .p-infinite-wall__item
            |STAY IN TOUCH 
            a(href="https://twitter.com/NYCTechWeek", target="_blank")
              +iconTwitter(14)
          .p-infinite-wall__item
            |//////////

  .p-dummy-scroll.js-dummy-scroll

  .p-host-event.js-contents
    .p-host-event__row
      |register to host an event
    .p-host-apply
      .p-introduction__input
        input(placeholder="Your name" type='text' name='name')
      .p-introduction__input
        input(placeholder="Your email" type='email' name='email')
      .p-introduction__input
        input(placeholder="Your title" type='text' name='title')

    .p-host-apply
      .p-introduction__input
        input(placeholder="Your company" type='text' name='company')
      .p-introduction__input
        input(placeholder="Type of event" type='text' name='type')

    .p-host-apply
      .p-introduction__button 
        button(type='button')
          |Submit Event


    .p-infinite-wall.js-transition-intro
      - var array = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
      each arr in array
        .p-infinite-wall__item
          |STAY IN TOUCH 
          a(href="https://twitter.com/NYCTechWeek", target="_blank")
            +iconTwitter(14)
        .p-infinite-wall__item
          |//////////
        .p-infinite-wall__item
          |NYC TECH WEEK
        .p-infinite-wall__item
          |//////////
      //- .p-sketch-index
      //- - var count = 0;
      //- each item in data.pages
      //-   if (item.title !== '' && item.title !== 'shadow')
      //-     .p-sketch-index__item(
      //-       class = 'js-smooth-item js-scroll-item',
      //-     )
      //-       a(href = `/sketch-threejs${item.path}`).p-sketch-index__item-wrap
      //-         .p-sketch-index__item-thumb(
      //-           style = `background-image: url(/sketch-threejs/img/common/ogp_${item.id}.jpg)`
      //-         )
      //-           .p-sketch-index__item-thumb-label
      //-             +splitStr(item.title, 'js-split-str')
      //-         .p-sketch-index__item-date
      //-           |dropped: #{item.posted} 
      //-           if (item.update)
      //-             |/ update: #{item.update}
      //-     - count++;

  canvas(id="canvas-webgl", class="p-canvas-webgl")
