block vars

doctype html
html(lang="ja")
  head
    include ../_layout/_head.pug
  body
    .l-page(
      class = (page.color == "white") ? 'l-page--white' : 'l-page--black',
      data-id = page.id
    )
      block content
    block scripts
    if (!process.env.NODE_ENV || process.env.NODE_ENV === 'development') 
      script(src="/js/main.js")
    else 
      script(src="/js/main.min.js")
